@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: ; font-family: 'Lato', sans-serif; letter-spacing: 1px;}


header {
    text-align: center;
    height: 5em;
    padding: 1em 5%;
    background: #2c3e50;
    color: #fff;
    margin: 0;
}
    
 footer { /* Нижняя часть */
  position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

   #content { /* Основное содержание страницы */
  font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */ }
    height: 675px;
    background-image: url(.jpg); /* Путь к фоновому изображению */
    background-color: #fff; /* Цвет фона */
margin: 0;
}

.three ul {
  padding: 0;
  background: #2c3e50;
}
.three li {
  display: inline-block;
}
.three a {
  padding: 1em;
  display: block;
  color: #F7F7F7;
  border-right: 1px solid #FF0;
  background: rgba(255, 255, 0, .3);
}
.three a:hover {background: #BAD78B
}


  body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */ }
